/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.clickable {
  cursor: pointer;
}

.center-spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0 2% 0;
}

.center-text {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.inline-text {
  display: inline-block;
  margin-left: 3.5%;
}

.tab-row {
  margin-top: 2%;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #0366d6;
}
